.cart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    width: 70%;
    margin: 0 auto;
    padding: 50px;

}


.carrito-vacio{
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.carrito-vacio p{
    font-size: 60px;
    font-family: 'Akshar', sans-serif;
}

.carrito-vacio a{
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    width: 197px;
    background-color: #161616;
    color: #ebba50;
    transition: all 0.8s ease;
    font-family: 'Akshar';
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}
.carrito-vacio a:hover {
    transition: all 0.8s ease;
background-color: #ebba50;
color: #161616;
box-shadow: 1px 1px 12px 1px #161616;
font-weight: bold;
}

.checkout-cart{
    background-color: #ffffffd1;
    width: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: solid 2px;
    border-radius: 11px;
}

.checkout-cart p{
font-size: 25px;
text-align: center;
margin: 5px;
}

.finalizar-cart {
    text-decoration: none;
    margin-top: 10px;
    width: 200px;
    background-color: #197000;
    color: #fffcf4;
    transition: all 0.8s ease;
    font-family: 'Akshar';
    font-size: 20px;
    border-radius: 5px;
    border: #197000;
}

.finalizar-cart:hover{
    transition: all 0.8s ease;
    transform: translateY(-1px);
    box-shadow: 1px 1px 12px 1px #161616;
}

.vaciar-cart{
    text-decoration: none;
    margin-top: 10px;
    width: 200px;
    background-color: #bf0000;
    color: #fffcf4;
    transition: all 0.8s ease;
    font-family: 'Akshar';
    font-size: 20px;
    border-radius: 5px;
    border: #bf0000;
}

.vaciar-cart:hover{
    transition: all 0.8s ease;
    transform: translateY(-1px);
    box-shadow: 1px 1px 12px 1px #161616;
}

.ver-mas-cart{
    text-decoration: none;
    margin-top: 10px;
    width: 200px;
    background-color: #161616;
    color: #ebba50;
    transition: all 0.8s ease;
    font-family: 'Akshar';
    font-size: 20px;
    border-radius: 5px;
}

.ver-mas-cart:hover {
transition: all 0.8s ease;
transform: translateY(-1px);
background-color: #ebba50 ;
    color:#161616 ;
    box-shadow: 1px 1px 12px 1px #161616;
    border-color:#ebba50 ;
}

.parrafo-cart{
    font-size: 2rem;
    font-family: 'Akshar', sans-serif;
}