.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.home-img {
    width: 400px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.755));
    transition: all 0.8s ease;
    cursor: pointer;
}

.home-img:hover {
    transition: all 0.8s ease;
    transform: scale(1);
    filter: drop-shadow(0px 0px 20px #ffffff);
}

@media screen and (max-width: 1024px) {
    .home-img {
        width: 350px;
    }

}

@media screen and (max-width: 375px) {

    .home-img {
        width: 320px;
    }
}

@media screen and (max-width: 375px) {

    .home-img {
        width: 300px;
    }
}