.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000e3;
    font-family: 'Akshar', sans-serif;
    height: 55px;
    margin: 19px 3px;
    border-radius: 5px;
    box-shadow: 1px 0px 12px 3px #d5d3d3;
  }
  
  .navBar img{
    width: 100px;
    margin-left: 10px;
    transition: all 0.8s ease;
  }

  .navBar img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.755));
  }
  
  .navBar ul {
    
    list-style: none;
    font-size: 1.5rem;
  }
  
  .navBar li {
    display: inline;
    margin-right: 30px;
    
    
  }
  .navBar a {
    text-decoration: none;
    color: white;
    transition: all 0.8s ease;
  }

  .navBar a:hover {
      transform: scale(1.1);
      color: #af3f47;
      border-radius: 30px;
  }