
/* .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 2px 4px 9px 3px black;
} */

.footer{
    display: flex;
    align-items: center;
    background: #322F46;
    height: 65px;
    box-shadow: 1px 0px 12px 3px #000000;
    justify-content: center;
    margin-top: 20px;
}

.footer img{
    width: 60px;
    margin-left: 30px;
}