body{
  background-image: url(https://i.etsystatic.com/27448597/r/il/d9d5b5/2934931410/il_570xN.2934931410_bz9g.jpg);
}

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000e3;
  font-family: 'Akshar', sans-serif;
  height: 55px;
  margin: 19px 3px;
  border-radius: 5px;
  box-shadow: 1px 0px 12px 3px #d5d3d3;
}

.navBar img{
  width: 104px;
  margin-left: 10px;
}

.navBar ul {
  
  list-style: none;
  font-size: 1.5rem;
}

.navBar li {
  display: inline;
  margin-right: 30px;
}

.navBar li a {
  text-decoration: none;
  color: white;
}
