body{
  background-image: url(https://i.etsystatic.com/27448597/r/il/d9d5b5/2934931410/il_570xN.2934931410_bz9g.jpg);
}

*{
  padding: 0px;
  margin: 0px;
  
}

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Zen+Dots&display=swap');

.container{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

